<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.memberMapper">
<!-- namespace는 내 맘이니까 org여도 상관없음! 페키지 이름으로 하는게 나중에 더 편함!!-->
	<insert id="insertData" parameterType="Member">
<!-- 	id 를 해당 메서드와 맞춰주기. parameterType=해당 메서드 위치-->
		INSERT INTO tblMember(name, addr)
		VALUES (#{name}, #{addr})
	</insert>
	<select id="selectAll" resultType="Member">
		SELECT * FROM tblMember
	</select>
	<select id="selecNum" parameterType="Member" resultType="Member">
		SELECT * FROM tblMember
		WHERE num=#{number}
	</select>
</mapper>